:host {
  display: block;
}

#columns {
  display: flex;
  border: 1px solid gray;
  padding: 10px;
}

.column {
  ul {
    padding: 0px;
    margin: 0px;
    li {
      padding: 5px;
      list-style: none;
    }
  }
}
