:host {
  display: block;
}

button {
  min-width: 200px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  background-color: transparent;
  font-weight: bolder;
}

.selected {
  background-color: lightcyan;
}
